/* iransans font */
@font-face {
    font-family: 'iransansdn';
    src: url("font/eot/iransansdn.eot") format('opentype');
    src: url("font/ttf/iransansdn.ttf") format('truetype');
    src: url("font/woff/iransansdn.woff") format('woff');

}
@font-face {
	font-family:'iransansbold';
	src: url("font/eot/iransansdnbold.eot")format('opentype');
	src: url("font/ttf/iransansdnbold.ttf")format('truetype');
	src: url("font/woff/iransansdnbold.woff")format('woff');

}
@font-face {
	font-family:iransans_num;
	src: url("font/number/IRANSansDN_Fa_Num.ttf")format('truetype');
}
@font-face {
	font-family:iransans_num_bold;
	src: url("font/number/IRANSansDN_FaNum-Bold.ttf")format('truetype');
}

/* yekan font */
@font-face {
    font-family:'yekan';
    src: url("font/eot/Yekan.eot") format('opentype');
    src: url("font/ttf/Yekan.ttf")format("truetype"),
    url("font/woff/Yekan.woff")format('woff');

}
@font-face {
    font-family:'Yekan-regular';
    src: url('font/eot/yekan-regular.eot')format('opentype');
    src: url("font/ttf/yekan-regular.ttf")format("truetype"),
    url("font/woff/yekan-regular.woff")format('woff');

}
/* vazir font */
@font-face {
    font-family:'vazirRegular';
    src: url("font/eot/Vazir-Regular.eot") format('opentype');
    src: url("font/ttf/Vazir-Regular.ttf")format("truetype");
    src: url("font/woff/Vazir-Regular.woff")format('woff');
	font-weight: normal;
}

