/* general styles */


.alert-profile {
    height: 50px;
}

.admin-logo-login {
    font-size: 2rem;
    color: dodgerblue;
}

.alert-dive {
    height: 150px;
}

.validate-mobile-admin-form .timer {

    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    color: #000000;
}

.aside-logo a {
    font-size: 1.5rem;
    font-weight: 600;
}

/**********  admin profile section  **************/
.userAvatarFile input {
    display: none;
}

.userAvatarFile label {
    cursor: pointer;
    border: 2px #ff6347 solid;
    border-radius: 5px;
    padding: 5px;
}

.userAvatarFile label:hover {
    border: 2px #ff6347 solid;
}

.admin-profile-info .image-content img {
    height: 200px;
    width: 200px;
}

/************ sidebar section */
.menu-item .menu-title {
    font-size: 1.1rem;
}

/************ users section */
/************ admins section */
.admin-list-users .list-content {
    height: auto;
}

.admin-list-users .list-content table tr th {
    font-weight: bold;
    font-size: 1.2rem;
}

.admin-list-users tbody tr td {
    font-size: 1.1rem;
}


.admin-list-roles .custom-active,
.admin-list-users .list-content .custom-active {
    padding: 2px 0;
    color: seagreen;
    font-weight: bold;
    font-size: 1.2rem;
}

.admin-list-roles .custom-deactivate,
.admin-list-users .list-content .custom-deactivate {
    padding: 2px 0;
    color: tomato;
    font-weight: bold;
    font-size: 1.1rem;
}

/************** front - back section */
.admin-front-end .title_english,
.admin-back-end .title_english {
    direction: ltr;
    text-align: left;
}

/************ category section */
.sample-section-create label,
.tag-section-create label,
.no-article p,
.no-tag p,
.article-section-create label,
.article-section-create #button-image,
.category-section-index .no-categories p {
    font-weight: bold;
    font-size: 1.2rem;
}

.no-categories,
.category-content {
    margin-top: 38px;
}

.category-content ul li {
    list-style: none;
}

.item-category .fa-cut {
    color: darkslategray;
    font-size: 1.5rem;
}

.list-specific .fa-list-ul {
    font-size: 1.5rem;
    color: lightgreen;
}

.item-category .item-category-title {
    width: 200px;
    margin: auto 0;
}

.item-category-actions {
    margin: auto 0;
}

.category-section-create label {
    font-weight: bold;
    font-size: 1.2rem;
}

/************* sample section */

.sample-footer-card .article-op .btn-sm {
    font-size: 1.1rem;
}

.sample-section-index .card img {
    height: 287px;
}

/************** admin-tag-list */
.admin-tag-list thead tr th,
.admin-tag-list tbody tr td div{
    font-size: 1.2rem;
}

/************ media query */


